{
  "compact": false,
  "comments": false,
  "sourceMaps": "both",
  "plugins": [
    ["transform-es2015-modules-commonjs", { "allowTopLevelThis": false }],
    ["transform-runtime", { "polyfill": false, "regenerator": false }],
    "transform-class-properties",
    "transform-async-to-generator"
  ]
}
